<mapper namespace="com.example.dao.IUserDao">

    <select id="findAll" resultType="com.example.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.example.pojo.User" parameterType="com.example.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>